* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

#circle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 200px;
	background: dodgerblue;
	border-radius: 100px;
	font-size: 1.8rem;
	color: white;
	cursor: pointer;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

/* Will create this class in js */
.hover {
	transform: scale(2);
}

#circle:hover {
	background-color: white;
	color: black;
}
